/******External librares******/

         /*-Mark Script font-*/
@import url('https://fonts.googleapis.com/css?family=Marck+Script');
            /*-Luceist Guy-*/
@import url('https://fonts.googleapis.com/css?family=Luckiest+Guy');
                /*-Roboto-*/
@import url('https://fonts.googleapis.com/css?family=Roboto');
                 /*-K2D-*/
@import url('https://fonts.googleapis.com/css?family=K2D:300,400');

/******custom scrollbar*******/

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1; 

}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: #888; 
    
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}










/*-----Global-----*/

*{
    margin: 0;
    padding: 0;
    outline: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;

}
html {
  scroll-behavior: smooth;
}

body{
    -webkit-user-select: none; /* Safari */        
-moz-user-select: none; /* Firefox */
-ms-user-select: none; /* IE10+/Edge */
user-select: none; /* Standard */
}

/*-----header-----*/

header nav {
    background-color: white;
    height: inherit;
    overflow: hidden;
    position: fixed;
    min-width: 100%;
    z-index: 1;

}

header nav ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 4px
}

header nav ul li{  
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

header nav ul li a {
    padding: 13px;
    display: block;
    text-decoration: none;
    font-family: 'K2D', sans-serif;
    color: black;
}

header nav ul li a:active , a:hover {
    background-color: tomato;
    color: black;
} 


/*----------About Me-------------*/

#aboutme{
    background-color: #383535;
    height: 99vh;
}

#aboutme img{
    display: block;
    width: 20em;
    height: 20em;
    margin-left: auto;
    margin-right: auto;
    padding-top: 70px;
}

#aboutme h1{
    position: relative;
    font-family: 'Marck Script', cursive;
    font-size: 50px;
    color: whitesmoke;
    text-align: center;
    margin-top: 60px;
}


#aboutme h2{
    display: block;
    position: absolute;
    left: 50%;
    transform: translateX(-50%px);
     -webkit-transform: translateX(-50%);
    font-size: 150px;
    font-family: 'Luckiest Guy', cursive;
    color: #2E2D2D;
}

#aboutme p{
    text-align: center;
    margin-top: 2em;
    font-family: 'Marck Script', cursive;
    font-size: 30px;
    color: whitesmoke;
    padding-bottom: 10px;
}



/*----------What I do-------------*/

#whatIDo{
    background-color: #D05050;
    height: 99vh;
}

#whatIDo h1{
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    text-align: center;
    font-size: 6em;
    color: whitesmoke;
    padding-top: 100px;
}

#skillcontainer{
    max-width: 50%;
    margin-left:  auto;
    margin-right: auto;
}

#skillset {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    flex-wrap: wrap;
    padding-bottom: 50px;
    margin-top: 200px;
    
}

.skillimg{
    width: 100px;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
    padding: 55px 60px 10px 60px;
}

#web,#android,#videdit{
    display: block;
    margin-right: auto;
    margin-left: auto;
    background-color: #FFFAFA;
    border-radius: 20px;
}

.skills{
    text-align: center;
    margin-bottom: 45px;
    font-family: 'K2D', sans-serif;
    font-weight: lighter;
    
}

button{
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}

button {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}

button:hover, button:focus, button:active {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}
    
    
/*----------Contact me-------------*/

#contact{
    display: block;
    height: 88vh;
    width: 100%;
    background-color: #E7B52B;
}

#contact h1 {
    text-align: center;
    font-family:'K2D', sans-serif;
    font-weight: lighter;
    font-size: 7em; 
    padding-top: 60px;
    color: whitesmoke;
}


form{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}

.form-control{
    width: 600px;
    background: transparent;
    border: none;
    outline: none;
    border-bottom: 1px solid #707070;
    color: whitesmoke;
    font-size: 18px;
    margin-bottom: 16px;   
}

.form-control:focus{
    border-bottom: 1px solid ;
}


input{
    height: 45px;
}

form .submit{
    background-color: tomato;
    border-color: transparent;
    color: whitesmoke;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 2px;
    height: 50px;
    margin-top: 20px;
    border-radius: 15px;
}

form .submit:hover{
    background-color: #f44336;
    cursor: pointer;
    
}

::placeholder {
    color: whitesmoke;
    opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color: whitesmoke;
}

::-ms-input-placeholder { /* Microsoft Edge */
   color: whitesmoke;
}


/*----------footer-------------*/

footer{
    
    background-color: #383535;
    height: 5vh;
}

footer p {
    color: whitesmoke;
    text-align: center;
    font-size: 150%;
    font-family: 'Marck Script', cursive;
    padding-top: 4px;
}






.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}


