/******External librares******/

         /*-Mark Script font-*/
@import url('https://fonts.googleapis.com/css?family=Marck+Script');
            /*-Luceist Guy-*/
@import url('https://fonts.googleapis.com/css?family=Luckiest+Guy');
                /*-Roboto-*/
@import url('https://fonts.googleapis.com/css?family=Roboto');
                 /*-K2D-*/
@import url('https://fonts.googleapis.com/css?family=K2D:300,400');

/******custom scrollbar*******/

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1; 

}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: #888; 
    
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}










/*-----Global-----*/

*{
    margin: 0;
    padding: 0;
    outline: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;

}
html {
  scroll-behavior: smooth;
}

body{
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}

/*-----header-----*/

header nav {
    background-color: white;
    height: inherit;
    overflow: hidden;
    position: fixed;
    min-width: 100%;
    z-index: 1;

}

header nav ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 4px
}

header nav ul li{  
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

header nav ul li a {
    padding: 13px;
    display: block;
    text-decoration: none;
    font-family: 'K2D', sans-serif;
    color: black;
}

header nav ul li a:active ,header nav ul li a:hover {
    background-color: tomato;
    color: black;
} 


/*----------About Me-------------*/

#aboutme{
    background-color: #383535;
    height: 100ch;
    
}

#aboutme img{
    display: block;
    width: 20em;
    height: 20em;
    margin-left: auto;
    margin-right: auto;
    padding-top: 70px;
}

#aboutme h1{
    position: relative;
    font-family: 'Marck Script', cursive;
    font-size: 50px;
    color: whitesmoke;
    text-align: center;
    margin-top: 60px;
}


#aboutme h2{
    display: block;
    position: absolute;
    left: 50%;
    transform: translateX(-50%px);
     -webkit-transform: translateX(-50%);
    font-size: 150px;
    font-family: 'Luckiest Guy', cursive;
    color: #2E2D2D;
}

#aboutme p{
    text-align: center;
    margin-top: 2em;
    font-family: 'Marck Script', cursive;
    font-size: 30px;
    color: whitesmoke;
    padding-bottom: 10px;
}



/*----------What I do-------------*/

#whatIDo{
    background-color: #D05050;
    height: 100ch;
}

#whatIDo h1{
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    text-align: center;
    font-size: 6em;
    color: whitesmoke;
    padding-top: 100px;
    margin-bottom: 200px;
}

#skillcontainer{
    width: 50%;
    margin-left:  auto;
    margin-right: auto;
}

#skillset {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    padding-bottom: 50px;
}

.skillimg{
    width: 100px;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
    padding: 55px 60px 10px 60px;
}

#web,#android,#videdit{
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: #FFFAFA;
    border-radius: 20px;
}

.skills{
    text-align: center;
    margin-bottom: 45px;
    font-family: 'K2D', sans-serif;
    font-weight: lighter;
    
}
a{
    outline: none;
    color: black;
}

button{
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}

button {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}

button:hover, button:focus, button:active {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}
    
    
/*----------Contact me-------------*/

#contact{
    display: block;
    height: 88ch;
    width: 100%;
    background-color: #E7B52B;
}

#contact h1 {
    text-align: center;
    font-family:'K2D', sans-serif;
    font-weight: lighter;
    font-size: 7em; 
    padding-top: 60px;
    color: whitesmoke;
}


form{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}

.form-control{
    width: 600px;
    background: transparent;
    border: none;
    outline: none;
    border-bottom: 1px solid #707070;
    color: whitesmoke;
    font-size: 18px;
    margin-bottom: 16px; 
    resize: none;
}

.form-control:focus{
    border-bottom: 1px solid ;
}


input{
    height: 45px;
}

form .submit{
    background-color: tomato;
    border-color: transparent;
    color: whitesmoke;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 2px;
    height: 50px;
    margin-top: 20px;
    border-radius: 15px;
}

form .submit:hover{
    background-color: #f44336;
    cursor: pointer;
    
}

::placeholder {
    color: whitesmoke;
    opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color: whitesmoke;
}

::-ms-input-placeholder { /* Microsoft Edge */
   color: whitesmoke;
}


/*----------footer-------------*/

footer{
    
    background-color: #383535;
    height: 5ch;
}

footer p {
    color: whitesmoke;
    text-align: center;
    font-size: 150%;
    font-family: 'Marck Script', cursive;
    padding-top: 4px;
}



/*----------####################RESPONSIVE############-------------*/

/*------------tablet----------*/

@media only screen and (max-width: 1400px){

    #skillcontainer{
        width: 100%;
    }
    
    
/*------------phones----------*/    
@media only screen and (max-width: 700px){ 
    
          
        #skillset{
        flex-direction: column
        }

    #web,#android,#videdit{
        margin-top: 30px;
        width: 450px;
        height: 100px;
        }
        
    .skillimg{
        width: 70px;
        height: 70px;
        margin-bottom: auto;
        margin-top: auto;
        padding: 15px;
        padding-left: 39px;
        }
        
    .skills{
        display: block;
        margin-top: auto;
        margin-bottom: auto;
        margin-left: 15px;
        text-decoration: none;
        }
    
    #web button , #android button ,#videdit button{
        display: flex;
        background: none;
        color: inherit;
        border: none;
        padding: 0;
        font: inherit;
        cursor: pointer;
        outline: inherit;
        text-decoration: none;
        }
    
    #whatIDo h1{
        margin-bottom: 100px;
        }

    button {
        display: inline-block;
         vertical-align: middle;
        -webkit-transform: none;
        transform: none;
        box-shadow: 0 0 0px rgba(0, 0, 0, 0);
        -webkit-transition-duration: 0.3s;
        transition-duration: 0.0s;
        -webkit-transition-property: none;
        transition-property: none;
        }
        
    button:hover, button:focus, button:active {
      -webkit-transform: none;
      transform: none;
        }
        
   /* #web,#android,#videdit{
      display: inline-block;
      vertical-align: middle;
      -webkit-transform: perspective(1px) translateZ(0);
       transform: perspective(1px) translateZ(0);
       box-shadow: 0 0 1px rgba(0, 0, 0, 0);
      -webkit-transition-duration: 0.3s;
        transition-duration: 0.3s;
      -webkit-transition-property: transform;
      transition-property: transform;
        } */
    
      #web:hover,#android:hover,#videdit:hover , #web:active,#android:active,#videdit:active , #web:focus,#android:focus#videdit:focus {
            -webkit-transform: scale(1.1);
            transform: scale(1.1);
            
        } 
            
    #contact h1{
        font-size: 6em;
        }
    
    a:link , a:active , a:visited{
        text-decoration: none;
        }
    
    header nav ul {
        margin: 0px;
        width: 100%;
        }
    
    }
/*------------smaller phones----------*/        
    @media only screen and (max-width: 600px){
        
        #contact h1{
        font-size: 5em;
        }
        
        .form-control{
            width: 90%;
        }   
    }  

    
/*------------mush smaller phones----------*/         
    @media only screen and (max-width: 550px){
        
        #aboutme img{
            width: 270px;
            height: 270px;
        }
        
        #aboutme h2{
            font-size: 130px;
        }
        
        #aboutme p{
            font-size: 25px;
        }
        
        #whatIDo h1{
            font-size: 5em    
        }
        
        #web,#android,#videdit{
        width: 300px;
        height: 100px;    
        }
        
        .form-control{
            width: 80%;
        }   
    }
    
    
/*------------mush smaller phones----------*/ 
    @media only screen and (max-width: 420px){
    
        #contact h1 {
            font-size: 4em; 
            }
    
    }
    
    
    #whatIDo h1{
            font-size: 4em    
        }
}

/*------------iphone 5/SE----------*/
@media only screen and (max-width: 320px){
    #aboutme img{
            width: 200px;
            height: 200px;
        }
    
    #aboutme p{
            font-size: 22px;
        }
    
    #web,#android,#videdit{
        width: 270px;
        height: 90px;    
        }
    
    #whatIDo h1{
            margin-bottom: auto;    
        }
    
    .skillimg{
        width: 70px;
        height: 70px;
        margin-left: auto;
        margin-right: auto;
        margin-top: auto;
        margin-bottom: auto;
        padding-left:  9px;
        padding-bottom: 5px;
        }
    
     #contact h1{
        font-size: 3.5em;
        }
    
    form .submit{
        letter-spacing: 1px;
    }
    
    footer p {
        font-size: 120%
    }
}